<div class="ship">
    <div class="box1">
        <img src="assets/about-us/LOGO psd 2.png">
    </div>
    <div class="box2">
        <img src="assets/about-us/LOGO psd 4.png">
    </div>
</div>

<div class="main mt-50">
    <div class="contact-us" style="background-image: url(assets/contact-us/bg.png);">
        <div class="row contact-row">
            <div class="col-md-6">
                <div class="contact-content mx-5">
                    <h3 class="mx-3">Contact Information</h3>
                    <div class="info-content my-5">
                        <div class="info my-3">
                            <span class="mx-3">
                            <img src="assets/contact-us/address.png">
                        </span>
                            <h6>Address: 1Hd- 50, 010 Avenue, NY 90001 United States</h6>
                        </div>

                        <div class="info my-3">
                            <span class="mx-3">
                            <img src="assets/contact-us/email.png">
                        </span>
                            <h6>costumer.service@boxtogo.com</h6>
                        </div>

                        <div class="info my-3">
                            <span class="mx-3">
                            <img src="assets/contact-us/phone.png">
                        </span>
                            <h6>+(880) 183 8288 389</h6>
                        </div>

                        <div class="info my-3">
                            <span class="mx-3">
                            <img src="assets/contact-us/Vector.png">
                        </span>
                            <h6>Monday-Friday: 9:27 PM - 9:27 PM <br>Saturday: 9:27 PM - 9:27 PM
                            </h6>
                        </div>
                    </div>
                    <div class="mx-3">
                        <img src="assets/contact-us/media.png">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-card">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="input-upper">
                                    <input type="text" id="input1" required />
                                    <label>Name</label>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="input-upper">
                                    <input type="text" id="input2" required />
                                    <label>Email</label>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="input-upper">
                                    <input type="text" id="input3" required class="input-message" />
                                    <label>Message</label>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center my-3 d-flex justify-content-center">
                            <div class="col-md-4">
                                <a class="default-btn">
                                    <span class="mx-3">Send</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>