<!-- <div class="ship">
    <div class="box1">
        <img src="assets/about-us/LOGO psd 2.png">
    </div>
    <div class="box2">
        <img src="assets/about-us/LOGO psd 4.png">
    </div>
</div> -->

<div class="main mt-4">
    <div class="contact-card d-block d-md-none mb-4">
        <div class="card-body">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="input-upper">
                        <input type="text" id="input1" required />
                        <label>Name</label>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <div class="input-upper">
                        <input type="text" id="input2" required />
                        <label>Email</label>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <div class="input-upper">
                        <input type="text" id="input3" required class="input-message" />
                        <label>Message</label>
                    </div>
                </div>
            </div>

            <div class="row text-center my-3 d-flex justify-content-center">
                <div class="col-md-4" style="display: contents;">
                    <a class="default-btn">
                        <span class="mx-3">Send</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us" style="background-image: url(assets/contact-us/bg.png);">
        <div class="row h-100">
            <div class="col-md-12">
                <div class="p-3 p-sm-5">
                    <h3 class="mx-4 my-3"> Contact Information</h3>
                    <div class="info-content my-5">
                        <div class="info">
                            <span class="mx-3">
                                <img src="assets/contact-us/address.png" class="img-fluid">
                            </span>
                            <h6>Address: 1Hd- 50, 010 Avenue, NY 90001 United States</h6>
                        </div>

                        <div class="info">
                            <span class="mx-3">
                                <img src="assets/contact-us/email.png" class="img-fluid">
                            </span>
                            <h6>Costumer.service@boxtogo.com</h6>
                        </div>

                        <div class="info">
                            <span class="mx-3">
                                <img src="assets/contact-us/phone.png" class="img-fluid">
                            </span>
                            <h6>+(880) 183 8288 389</h6>
                        </div>

                        <div class="info">
                            <span class="mx-3">
                                <img src="assets/contact-us/Vector.png" class="img-fluid">
                            </span>
                            <h6>Monday-Friday: 9:27 PM - 9:27 PM <br>Saturday: 9:27 PM - 9:27 PM
                            </h6>
                        </div>
                    </div>
                    <div class="mx-4 mt-3">
                        <img src="assets/contact-us/media.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-5 contact-form d-none d-md-block">
        <div class="contact-card">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Name</label>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="input-upper">
                            <input type="text" id="input2" required />
                            <label>Email</label>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="input-upper">
                            <input type="text" id="input3" required class="input-message" />
                            <label>Message</label>
                        </div>
                    </div>
                </div>

                <div class="row text-center my-3 d-flex justify-content-center">
                    <div class="col-md-4">
                        <a class="default-btn">
                            <span class="mx-3">Send</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>