<div class="ship">
    <div class="box1">
        <img src="assets/about-us/LOGO psd 2.png">
    </div>
    <div class="box2">
        <img src="assets/about-us/LOGO psd 4.png">
    </div>
</div>

<div class="main">
    <div class="about-us">
        <div class="about-us-content mt-5">
            <div class="col-md-12 about-us-box">
                <div class="content text-center">
                    <img src="assets/LOGO w.png">
                    <div class="row mt-4">
                        <h5>
                            www.boxtogo.com is the best site to buy food and baskets for your family and friends. We are a worldwide service, covering the whole world, to help expatriates and their families overcome the pains of alienation by sending and delivering gifts of food
                            baskets of different sizes and prices based on the country to which they are sent to, from each party to the other in a safe and fast manner. All the steps of this process are done easily, fast, a safe, and reliable way online
                            through our link boxtogo.com. www.boxtogo.com is the best site to buy food and baskets for your family and friends. We are a worldwide service, covering the whole world, to help expatriates and their families overcome the pains
                            of alienation by sending and delivering gifts of food baskets of different sizes and prices based on the country to which they are sent to, from each party to the other in a safe and fast manner. All the steps of this process
                            are done easily, fast, a safe, and reliable way online through our link boxtogo.com.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vision mb-5">
        <div class="vision-content mt-5">
            <div class="col-md-12 vision-box">
                <div class="content text-center">
                    <img src="assets/about-us/vision.png">
                    <div class="row mt-4">
                        <h5>
                            To be the first and most important means of expressing love and longing for the brand and strengthening the bonds of the relationship between the customer and his family through the gifts provided.
                        </h5>
                    </div>

                    <div class="mt-5">
                        <img src="assets/about-us/our-value.png">
                        <div class="row mt-4">
                            <h5>
                                Happiness, love, strengthening the bonds of relationships. </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>