///*-----------about------------*/
.about-us-content,
.vision-content {
    width: 100%;
    position: relative;
}

.about-us-content .about-us-box {
    background: radial-gradient(42.84% 169.34% at 32.07% -18.75%, #ED413E 0%, #F70301 100%);
    opacity: 0.95;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-content .about-us-box .content h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: white;
}


/*-----------vision------------*/

.vision-content .vision-box {
    background: #FFFFFF;
    opacity: 0.95;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-content .vision-box .content h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: black;
    width: 100%;
}


/*-----------ship------------*/

.ship {
    position: relative;
}

.box1 {
    position: absolute;
    right: -41px;
    top: -50px;
    z-index: -1;
}

.box2 {
    position: absolute;
    left: -1px;
    left: -41px;
}