a {
    text-decoration: none;
}

.mt-50 {
    margin-top: 50px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}

:host ::ng-deep .ant-btn {
    border: none !important;
}

:host ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    text-shadow: 0 0 0.25px currentColor;
    font-weight: 600;
    font-size: 18px;
    line-height: 41px;
    color: #000000;
    letter-spacing: 1px;
}

// :host ::ng-deep .ant-btn:focus {
//     color: white !important;
//     border-color: white;
//     background: #fff;
// }
//*------------custom-box-------------------*/
.custom-box-card {
    background: #FFFFFF;
    border-radius: 30px;
}

.custom-box-card h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #000000;
}

.box-details h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: #000000;
}

.box-details h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: #000000;
}

.product-quantity h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #212121;
}

.product-quantity p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #0B5EFF;
}


/*-----------custom-box-card-details-------------*/

.custom-box-card-details {
    background: #F1F1F1;
    border-radius: 15px;
}

.order {
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.order h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
}


/*-----------Steps--------*/

.step-title {
    position: relative;
}

.box {
    width: 42px;
    height: 42px;
    /* text-align: center; */
    position: relative;
    border-radius: 5.91194px;
    transform: rotate(-45deg);
    top: 11px;
    left: 9px;
    border: 1px solid #666666;
    background: #FFFFFF;
}

.active {
    background: #34A853;
}

.step-title h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}

.step-title img {
    position: absolute;
    top: 20px;
    left: 20px;
}

:host ::ng-deep .ant-steps-item-icon {
    display: none;
}


/*------------shopping-info--------------*/

.shopping-info {}

.shopping-info h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: #000000;
}

.shopping-info h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #2E9CC3;
    display: flex;
    align-items: center;
}

.add-btn {
    color: #2E9CC3;
    display: flex;
    align-items: center;
}

.btn-danger {
    border-radius: 10px;
    box-sizing: border-box;
    background: #FA0200;
    height: 42px;
    border-color: #FA0200;
}

.btn-danger h3,
.btn-light h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.btn-light {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    height: 42px;
    border-color: #000000;
}

.radio-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #666666;
}

[nz-radio] {
    display: flex;
    height: 32px;
    line-height: 32px;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 5px;
    height: 55px;
}

:host ::ng-deep .ant-radio-wrapper {
    margin-right: 0px !important;
}

:host ::ng-deep .ant-radio-checked .ant-radio-inner {
    border-color: #FA0200 !important;
}

:host ::ng-deep .ant-radio-inner::after {
    border-color: #FA0200 !important;
}

:host ::ng-deep .ant-radio-checked::after {
    border-color: #FA0200 !important;
}

:host ::ng-deep .ant-radio-wrapper-checked {
    border: 1px solid #FA0200 !important;
    box-sizing: border-box;
    border-radius: 5px;
}

:host ::ng-deep .ant-radio {
    margin: 0px 10px;
}

.note {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center;
}


/*----------sub-total---------------*/

.sub-total h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
}

.total h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
}

//*------------Modal------0*/