<div class="bg" style="background-image: url(assets/Choose-the-country/bg.png)">
    <div class="ship">
        <div class="box1">
            <img src="assets/Choose-the-country/LOGO w.png">
        </div>
        <div class="box2">
            <img src="assets/Choose-the-country/LOGO w (1).png">
        </div>
    </div>
    <div class="materialContainer p-3 p-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="row text-center mt-4 mb-2">
                    <div class="col-md-12">
                        <img src="assets/Choose-the-country/LOGO psd 1.png" width="110px">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 m-0 p-0">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Full Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 m-0 p-0">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Email</label>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 m-0 p-0">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Password</label>
                            <span class="pass-eye"> <img src="assets/Vector.png"></span>
                        </div>
                    </div>
                    <div class="col-md-6 m-0 p-0">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Address</label>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 m-0 p-0">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Password</label>
                            <span class="pass-eye"> <img src="assets/Vector.png"></span>
                        </div>
                    </div>
                    <div class="col-md-6 m-0 p-0">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Confirm password</label>
                            <span class="pass-eye"> <img src="assets/Vector.png"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 m-0 p-0 mt-3">
                        <div class="g-recaptcha mx-3" data-sitekey="6LeuQwkUAAAAAPrlzSQ-oxxxxxxxxxxx" style="border-radius: 15px;"></div>
                    </div>
                </div>
                <div class="row text-center mb-2 d-flex justify-content-center">
                    <div class="col-md-6 m-0 p-0">
                        <a class="default-btn-login mx-3">
                            <span class="mx-3">Create</span>
                        </a>
                    </div>
                    <div class="col-md-6 mx-4" style="text-align: start;">
                        <small class="mx-3 mt-3">Already have account? <a style="color:blue" [routerLink]="['/account/login']">Login</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row my-4">
        <div class="col-md-9 d-flex align-items-end">
            <h4>VRode company © 2022 - Privacy Policy </h4>
        </div>
    </div>
</footer>