<div class="bg" style="background-image: url(assets/Choose-the-country/bg.png)">
    <div class="ship">
        <div class="box1">
            <img src="assets/Choose-the-country/LOGO w.png">
        </div>
        <div class="box2">
            <img src="assets/Choose-the-country/LOGO w (1).png">
        </div>
    </div>
    <div class="materialContainer">
        <div class="card">
            <div class="card-body">
                <div class="row text-center my-4">
                    <div class="col-md-12">
                        <img src="assets/Choose-the-country/LOGO psd 1.png" width="110px">
                    </div>
                </div>
                <div class="row mt-5 text-center">
                    <h4>Choose the Delivery country</h4>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="default-btn mx-3">
                            <img src="assets/Choose-the-country/LB.png">
                            <span class="mx-3 text-dark">Lebanon</span>
                        </a>
                    </div>
                </div>
                <div class="row text-center mb-4">
                    <div class="col-md-12">
                        <a class="default-btn mx-3">
                            <img src="assets/Choose-the-country/SY.png">
                            <span class="mx-3 text-dark">Syria</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row my-5">
        <div class="col-md-9 d-flex align-items-end">
            <h4>VRode company © 2022 - Privacy Policy </h4>
        </div>
        <div class="col-md-3">
            <h4>Download Box To Go app</h4>
            <span>
                    <img src="assets/Choose-the-country/apps.png">
                </span>
        </div>
    </div>
</footer>