<div class="bg" style="background-image: url(assets/Choose-the-country/bg.png)">
    <div class="ship">
        <div class="box1">
            <img src="assets/Choose-the-country/LOGO w.png">
        </div>
        <div class="box2">
            <img src="assets/Choose-the-country/LOGO w (1).png">
        </div>
    </div>
    <div class="materialContainer">
        <div class="card">
            <div class="card-body">
                <div class="row text-center my-4">
                    <div class="col-md-12">
                        <img src="assets/Choose-the-country/LOGO psd 1.png" width="110px">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Email</label>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="input-upper">
                            <input type="text" id="input1" required />
                            <label>Password</label>
                            <span class="pass-eye"> <img src="assets/Vector.png"></span>
                        </div>
                    </div>
                </div>
                <div class="row text-center mb-4">
                    <div class="col-md-12">
                        <a class="default-btn-login mx-3">
                            <span class="mx-3">Login</span>
                        </a>
                    </div>
                    <div class="col-md-12 mx-4" style="text-align: start;">
                        <small>You still do not have an account ? <a style="color:blue" [routerLink]="['/account/register']">Create an account</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row my-5">
        <div class="col-md-9 d-flex align-items-end">
            <h4>VRode company © 2022 - Privacy Policy </h4>
        </div>
    </div>
</footer>