<div class="product mt-50">
    <div class="products-content">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="assets/product/1.png">
            </div>
            <div class="col-md-6 product-content">
                <h1 class="mt-3">Pois chiches Madanli 900g - حمص معدنلي</h1>
                <span class="d-flex align-items-center">
                    <nz-rate [ngModel]="3" nzDisabled></nz-rate>
                    <p class="mx-3 mt-1 mb-0">4.8</p>
                </span>
                <span class="d-flex align-items-center product-price">
                    <h1 class="text-danger">2,40 $</h1>
                    <small class="mx-4 mb-1"><del>4 $</del></small>
                </span>
                <h3>{{selectedProduct?.content}}</h3>
                <h3>{{selectedProduct?.brand}}</h3>
                <h3>{{selectedProduct?.category}}</h3>
                <h3>{{selectedProduct?.tag}}</h3>
                <h3>{{selectedProduct?.sku}}</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 row">
                <div class="col-1" *ngFor="let img of minProduct">
                    <a class="product-item">
                        <img [src]="img?.img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>