a {
    text-decoration: none;
}

.mt-50 {
    margin-top: 50px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}

:host ::ng-deep .ant-rate {
    color: #FA0200;
    font-size: 14px !important;
}

:host ::ng-deep .ant-btn {
    border: none !important;
}

:host ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    text-shadow: 0 0 0.25px currentColor;
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    line-height: 41px;
    letter-spacing: -0.02em;
}

:host ::ng-deep .ant-tabs-tab {
    padding: 0px;
}

:host ::ng-deep .ant-tabs-tab-btn {
    font-weight: 400;
    font-size: 22px;
    line-height: 41px;
    letter-spacing: -0.02em;
}

:host ::ng-deep .ant-tabs-tab-btn:hover {
    color: red !important;
}

:host ::ng-deep .ant-tabs-tab.ant-tabs-tab-active {
    border-bottom: 2px solid black !important;
    z-index: 2;
}

:host ::ng-deep .ant-tabs-nav-wrap {
    margin: 0px 30px;
    margin-top: 10px;
}

:host ::ng-deep .ant-progress-bg {
    background-color: #FA0200 !important;
    height: 10px !important;
}

:host ::ng-deep .ant-tabs-tabpane {
    height: 410px;
}


/*---------Product----------*/

.product {
    background: #FFFFFF;
    border-radius: 30px;
}

.product-content {}

.product-content h1 {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 52px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-item {
    // width: 55px;
    text-align: center;
}

.product-price h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #DC1B32;
}

.product-content h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0px;
}

.product-content h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-price small {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #A2A2A2;
}

.product-quantity h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #212121;
}

.product-Shipping h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #000000;
}

.tab-content {
    font-weight: 400;
    font-size: 22px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0px 30px;
}

.header-reviews h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 41px;
    color: #000000;
}

.review {
    display: flex;
    align-items: center;
}

.review h6 {
    margin: 0px 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #A2A2A2;
}

.rate h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 52px;
    color: #000000;
}

.rate {
    height: 100%;
}


/*-----------best-sellers-----------*/

.m-11 {
    margin: .15rem!important
}

.best-sellers {
    position: relative;
}

[nz-radio] {
    display: block;
    height: 32px;
    line-height: 32px;
}

:host ::ng-deep .ant-radio-checked .ant-radio-inner {
    border-color: #FA0200!important;
}

:host ::ng-deep .ant-radio-inner::after {
    background-color: #FA0200 !important;
}

.best-sellers .circles {
    width: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    left: -30px;
    top: auto;
    height: 100%;
}

.best-sellers-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.best-sellers-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best-sellers-header h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 41px;
    color: #000000;
}

.arrow-img {
    cursor: pointer;
    margin: 0px 10px;
}

.best-sellers-content {
    padding: 0rem 1em 1em 1em;
}

.best-sellers-content h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
}

.best-sellers-content small del {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #A2A2A2;
}

.best-sellers-body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.best-sellers-body .card:hover {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.best-sellers-body .card {
    background: #FFFFFF;
    border-radius: 30px;
}

.best-sellers-body .card .card-header {
    padding: 0.75rem 0.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .0);
    border-bottom: none;
}

.add-btn:hover {
    box-shadow: 0px 4px 24px rgba(219, 8, 8, 0.5);
}