a {
    text-decoration: none;
}

.mt-50 {
    margin-top: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}

:host ::ng-deep .ant-rate {
    color: #FA0200;
    font-size: 14px !important;
}


/*---------Product----------*/

.product {
    background: #FFFFFF;
    border-radius: 30px;
}

.product-content {}

.product-content h1 {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 52px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-item {
    width: 55px;
}

.product-price h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #DC1B32;
}

.product-content h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-price small {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #A2A2A2;
}