<div class="main">
    <div class="blog mt-50">
        <div class="blog-content p-3 p-sm-5">
            <div class="img-title row my-3">
                <img src="assets/blog/title.png" class="img-fluid">
            </div>
            <div class="blog-video mt-50">
                <img src="assets/blog/video.png" style="width: 100%;">
            </div>

            <div class="articles-content row mt-4">
                <div class="col-md-4 my-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="assets/blog/1.png" style="width: 100%;">
                        </div>
                        <div class="card-body articles-content">
                            <h5>TWhat is a QR Menu for Restaurants?</h5>
                            <p>Once all menu has been uploaded, click the navigation into QR Code to generate the QR Code of your design for your restaurant. Print and display on your menu table. </p>
                            <span class="d-flex justify-content-end">
                                    <a class="shop-link">Read More <img src="assets/start=shoping/Stroke 3.png" class="mx-2" class="img-fluid"></a>
                                </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="assets/blog/2.png" style="width: 100%;">
                        </div>
                        <div class="card-body articles-content">
                            <h5>TWhat is a QR Menu for Restaurants?</h5>
                            <p>Once all menu has been uploaded, click the navigation into QR Code to generate the QR Code of your design for your restaurant. Print and display on your menu table. </p>
                            <span class="d-flex justify-content-end">
                                    <a class="shop-link">Read More <img src="assets/start=shoping/Stroke 3.png" class="mx-2"></a>
                                </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="assets/blog/3.png" style="width: 100%;">
                        </div>
                        <div class="card-body articles-content">
                            <h5>TWhat is a QR Menu for Restaurants?</h5>
                            <p>Once all menu has been uploaded, click the navigation into QR Code to generate the QR Code of your design for your restaurant. Print and display on your menu table. </p>
                            <span class="d-flex justify-content-end">
                                    <a class="shop-link">Read More <img src="assets/start=shoping/Stroke 3.png" class="mx-2"></a>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>