.mt-50 {
    margin-top: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}


/*--------------------------Blog-----------------------*/

.blog {
    background: #FFFFFF;
    border-radius: 30px;
}

.img-title {
    width: 260px;
}

.blog-video {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.articles-content .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.articles-content .card .card-header {
    border: none;
    background-color: rgba(0, 0, 0, .00);
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
}

.articles-content .card .card-body {
    padding: 1rem 1.5rem;
}

.articles-content h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.02em;
}

.articles-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #A2A2A2;
}

.shop-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #0B5EFF;
}