/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;500&display=swap');
* {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: #F1F1F1;
}

.ant-modal-content {
    border-radius: 30px !important;
    /* background: red; */
    margin: auto;
}

.ant-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
}