a {
    text-decoration: none;
}

.mt-50 {
    margin-top: 50px;
}


/*-----------ship------------*/

.ship {
    position: relative;
}

.box1 {
    position: absolute;
    right: 0;
    top: -20px;
    z-index: -1;
}

.box2 {
    position: absolute;
    left: -1px;
    top: 535px;
    z-index: -1;
}

.box11 {
    position: absolute;
    right: 0;
    top: 20px;
}

.box22 {
    position: absolute;
    left: -1px;
    top: 444px;
}


/*--------------------------help-----------------------*/

.help {
    background: #FFFFFF;
    border-radius: 30px;
}

.help-content {
    width: 100%;
    position: relative;
}

.help-video {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}


/*-----------------------FAQ---------------------------*/

.faq-box {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 11px 15px;
}

.faq-box h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.faq-img {
    width: 27px;
    height: 27px;
}

h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #000000;
}


/*------------------------contact-us--------------------*/

.contact-us {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 608px;
}